<?xml version="1.0" encoding="UTF-8"?>
<configuration scan="true" scanPeriod="30 seconds">

    <conversionRule conversionWord="TRACE_TOKEN" converterClass="kamon.trace.logging.LogbackTraceTokenConverter"/>

    <property resource="logger.properties" />
    <property resource="logger-local.properties" />

    <appender name="STDOUT" class="ch.qos.logback.core.ConsoleAppender">
        <encoder>
            <pattern>%date{ISO8601} %highlight([%TRACE_TOKEN]) [%thread] %-5level - %logger{0}: %msg%n</pattern>
        </encoder>
    </appender>

    <logger name="org.aspectj.weaver.bcel.BcelWorld" level="OFF"/>

    <!-- Logger "application" is default Play logger -->
    <logger name="application" level="INFO" additivity="false">
        <appender-ref ref="STDOUT"/>
    </logger>

    <root level="INFO">
        <appender-ref ref="STDOUT"/>
    </root>

</configuration>